$content-about-us-padding: 0 100px;

@include b('content-about-us-style'){

    em{
        @include typi(larger);
        font-weight: 300;
        font-style: normal;
    }
    h3,h4,p,ol,h1,ul{
        padding:$content-about-us-padding;
        @include media('mobile'){
            padding: 0;
        }
    }
    h2{
        padding: 0;
        font-family: $base-font-family;
        @include media(mobile){
            padding-top: 16px;
            padding-bottom: 16px;
            margin-bottom: 16px;
            margin-top: 16px;
        }
        
    }

}

