$cart-text-color: $base-text-color;
$cart-totals-margin: $base-content-padding $base-content-padding $base-content-padding auto;
$input-number-height: $base-content-padding*2;
$input-number-width: $base-content-padding*2.5;

@include b('cart'){

    @include e('item'){
        td {
            vertical-align: middle!important;
        }

        @include media(mobile){
            display: grid;
            grid-template-columns: 84px 40px 1fr 16px;
            grid-template-rows: 1fr 32px;
            grid-gap: 16px;
            padding: 16px 0;

            td, th{
                padding: 0;
            }
        }
        
    }

    @include e('thumbnail'){
        width: 128px;
        height: 128px;
        @include media(mobile){
            width: 84px;
            height: 84px;
        }
        img {
            width: 128px;
            height: 128px;
            @include media(mobile){
                width: 84px;
                height: 84px;
            }
        }
    }

    @include e('name'){
        width: 40%;

        a {
            color: $cart-text-color;
            font-weight: 600;
        }

        @include media(mobile){
            width: 100%;
            grid-column: 2/4;
        }
    }

    @include e('quantity'){
        width: 120px;

        .quantity {
            margin-right: 0!important;
        }

        @include media(mobile){
            width: 100%;
            grid-column: 2/3;
            grid-row: 2/3;

            span{
                display: none;
            }

            .input-number__wrapper{
                height: $input-number-height;
            }

            .input-number__input{
                height: $input-number-height;
                width: $input-number-width;
            }
        }
    }

    @include e('price'){
        @include media(mobile){
            grid-column: 3/4;
            grid-row: 2/3;
            display: flex;
            align-items: center;
        }
    }

    @include e('remove'){
        width: 5%;
        text-align: center!important;

        a {
            font-size: 24px;
            //@include typi(largest);
            color: $cart-text-color;
        }

        @include media(mobile){
            width: 100%;
            grid-column: 4/5;
            grid-row: 1/2;

            a,i {
                font-size: 16px;
            }
        }
    }

    @include e('table'){
        @include media(mobile){

            td, th{
                padding: 0;
            }
        }
    }

    @include e('totals'){
        width: 33%!important;
        margin: $cart-totals-margin;

        tr {
            border: 0;            
        }

        tr:nth-last-child(2) {
            border-bottom: 1px solid $base-table-border-color;
            th, td {
                padding: 5px 5px 20px 5px; 
            }
        }

        tr:nth-last-child(1) {
            th, td {
                padding: 20px 5px 5px 5px; 
            }
        }
        
        

        th, td {
            text-align: right!important;
            padding: 5px;
        }

        @include media(mobile){
            width: 100%!important;
        }
    }

    @include e('shipping'){
            font-weight: normal!important;
        
    }

    @include e('subtotal'){
        font-weight: bold;
    
    }   

    @include e('proceed'){
        margin-left: auto;
        width: fit-content;
        @include media(mobile){
            width: 100%;

            .btn{
                width: 100%;
            }
        }
    }

    @include e('item-desc'){
        //@include typi('s'); 
        
        margin-bottom: 0;
        color: $cart-text-color;
        
    }

    @include e('banner'){
        background-color: $base-color-light-grey;
        padding: $grid-gutter;
        text-align: center;
        font-weight: 600;
        color: $base-black-color;
        margin-bottom: $base-content-padding;
        @include media(desktop large){
            margin-bottom: $base-content-padding*2;
        }
        
    }

    
}

.item-center {
    text-align: center !important;
}

.desktop-only {
    @include media(mobile){
        display: none;
    }
}


