@include block('cart-checkout-navigation'){

    @include container();
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    align-content: stretch; 
    margin-bottom: $grid-gutter*3;
    margin-top: $grid-gutter*3;

    @include media(mobile){
        padding-left: $base-content-padding!important;
    }
    @include element('shop-checkout-navigation'){
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        align-content: stretch; 
        @include container();
        margin-bottom: $grid-gutter*3;
        margin-top: $grid-gutter*3;
    }
    @include element('item'){
        flex:1;
        color:$multistep-text-color;
        background: $multistep-background-color;
        
        padding: $grid-gutter;
       // @include typi('small');
        margin-right: $grid-gutter*3;
        position: relative;

        @include media(mobile){
            margin-right: $grid-gutter*1.5;
            flex-grow: 0;
        }

        &.is-activated{
            border: 1px solid $base-primary-color;
            background: transparent;
            a{
                color:$base-primary-color;
                display: block;
                &:hover{
                    color:$base-white-color
                }
            }
            &:hover{
                color:$base-white-color;
                background: $base-primary-color;
                a{
                    color:$base-white-color;
                }
            }
            &::after{
                color:$base-primary-color;
            }
        }
        &.is-active{
            color:$base-white-color;
            background: $base-primary-color;
            &::after{
                color:$base-primary-color;
            }
            a{
                color:$base-white-color;
                display: block;
            }

            @include media(mobile){
                flex-grow: 5;
                .cart-checkout-navigation__step-number{
                    display: none;
                }
                .cart-checkout-navigation__step-title{
                    display: inline;
                }
            }
            
        }
        &:last-child{
            margin-right: 0px;
            &::after{
                content:'';
                display: none;
            }
        }
        &::after{
           @extend %font-icon;
           content:'keyboard_arrow_right';
           position: absolute;
           right: -48px;
           top: 0;
           padding: $grid-gutter;

           @include media(mobile){
               right: -38px;
           }
        }
    }

    @include element('step-number'){
        display: none;

        @include media(mobile){
            display: inline;
        }
    }

    @include element('step-title'){

        @include media(mobile){
            display: none;
        }
    }


}