$cart-navigation-margin: $base-content-padding*2;
$cart-navigation-margin-bottom: $base-content-padding;
$cart-navigation-margin-mobile: $base-content-padding;

$cart-navigation-items-spacing-mobile: $base-content-padding;
$cart-navigation-item-mobile-size: $base-content-padding*2.5;

@include block('cart-checkout-navigation'){

    
    @include container();
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    align-content: stretch; 
    margin-bottom:$cart-navigation-margin-bottom;
    margin-bottom: 32px;
    margin-top: $cart-navigation-margin;
    font-family: $base-font-family;

    @include element('form'){

        @include media(desktop large){
         
        }
    }

    @include media(desktop large) {
        margin-bottom: 0;
    }

    @include media(ipad) {
        margin-bottom: 32px;
    }

    @include element('header'){
       // margin-top: $base-content-padding;
        @include media(desktop large){
            //margin-top: $base-content-padding*2;
        }
    }

    @include media(tablet) {
        text-align: center;

    }

 

    @include media(mobile){
        padding-left: $base-content-padding!important;
        margin-bottom: $cart-navigation-margin-mobile;
        margin-top: $cart-navigation-margin-mobile;
    }
    @include element('shop-checkout-navigation'){
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        align-content: stretch; 
        @include container();
        margin-bottom: $grid-gutter*3;
        margin-top: $grid-gutter*3;
    }
    @include element('item'){
        flex:1;
        color:$base-dark-grey-color;
        background: $base-grey-color;
        
        padding: $base-content-padding;
       // @include typi('small');
        margin-right: $base-content-padding*3;
        position: relative;
        cursor: default;

        @include media(mobile){
            margin-right: $cart-navigation-items-spacing-mobile;
            flex-grow: 0;
           // width: 40px;
            padding: 4px;
            height: $cart-navigation-item-mobile-size;
            min-width: $cart-navigation-item-mobile-size;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.is-activated{
            border: 1px solid $base-primary-color;
            background: transparent;
            a{
                color:$base-primary-color;
                display: block;
                &:hover{
                    color:$base-white-color
                }
            }
            &:hover{
                color:$base-white-color;
                background: $base-primary-color;
                a{
                    color:$base-white-color;
                }
            }
            &::after{
                color:$base-primary-color;
            }
        }
        &.is-active{
            color:$base-white-color;
            background: $base-primary-color;
            &::after{
                color:$base-primary-color;
            }
            a{
                color:$base-white-color;
                display: block;
            }

            @include media(mobile){
                flex-grow: 5;
                .cart-checkout-navigation__step-number{
                    display: none;
                }
                .cart-checkout-navigation__step-title{
                    display: inline;
                }
            }
            
        }
        &.is-disabled{
            color:$base-dark-grey-color;
            background: $base-grey-color;
            
            a{
                color:$base-dark-grey-color;
                display: block;
                pointer-events: none;
            }
            
        }

        &:last-child{
            margin-right: 0px;
            &::after{
                content:'';
                display: none;
            }
        }
        &::after{
           @extend %font-icon;
           content:'keyboard_arrow_right';
           position: absolute;
           right: -48px;
           top: 8px;
           padding: $base-content-padding;

           @include media(mobile){
               right: -$cart-navigation-items-spacing-mobile;
               padding: 0;
               top: calc(50% - 8px);
           }
        }
    }

    @include element('step-number'){
        display: none;

        @include media(mobile){
            display: inline;
        }
    }

    @include element('step-title'){

        @include media(mobile){
            display: none;
        }
    }


}