$checkout-box-title-margin: $base-content-padding*2;
$checkout-btn-margin-top:  $base-content-padding*6;
$checkout-btn-margin-top-mobile: $base-content-padding*2.5;

@include b('checkout'){
    @include e('btn'){
        display: flex;
        justify-content: flex-end;
        margin-top: $checkout-btn-margin-top;

        @include media(mobile){
            margin-top: $checkout-btn-margin-top-mobile;
            .btn{
                width: 100%;
            }
        }
    }

    @include e('grid'){
        display: flex;
    }

    @include e('form'){
        flex: 2;
        padding-right: $base-content-padding;

        @include media(mobile){
            .btn{
                width: 100%;
            }
        }
    }

    @include e('review'){
        flex: 1;

        @include media(mobile){
            display: none;
        }
    }

    @include e('review-box'){
        background-color: $base-color-light-grey;
        padding: $base-content-padding;
    }


    @include e('box-title'){
        @extend %heading-reset;
        margin-bottom: $checkout-box-title-margin;
    }

    @include e('totals'){
        td {
            text-align: right!important;
        }

        th, td {
            padding: 5px;
        }

        tr {
            border: 0;            
        }

        tr:nth-last-child(2) {
            border-bottom: 1px solid $base-table-border-color;
            th, td {
                padding: 5px 5px 20px 5px; 
            }
        }

        tr:nth-last-child(1) {
            th, td {
                padding: 20px 5px 5px 5px; 
            }
        }
    }

    @include e('subtotal'){
        font-weight: normal!important;
    }
}
