@include block('shop-catalog'){
    padding: $grid-gutter 0;
    display: flex;
    @include media('mobile'){
        flex-direction: column;
    }

    @include element('filter'){
       flex:1;
       margin-right: $base-content-padding;
    }
    @include element('list'){
        padding: 0 $base-content-padding;
    }
    @include element('count-order'){
         display: flex;
         align-items: center;
         border-bottom: 1px solid $base-grey-color;
         padding-bottom: $base-content-padding;
         padding-left:$base-content-padding;
         padding-right:$base-content-padding;
         @include media('mobile'){
            flex-direction: column;
        }
    }

    @include element('container'){
        flex:4;
        
    }
    @include e('onsale'){
        @extend %woocommerce-sale;
        position: absolute;
        //padding: $base-content-padding;
        right: $base-content-padding/2;
        top: $base-content-padding/2;
       

    }

    @include element('items'){
        width: 100%;
        @extend %list-reset;
        @include media(desktop large){
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: $base-content-padding;
        }
    }

    @include element('item'){
       display: block;
       a{
           
       }
    }


    @include element('image'){
        overflow: hidden;
        img{
            transition: all 1s ease;
            width: 100%;
            height: 100%;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
            
        }
    
    }

    @include element('title'){
        margin: 0;
       // @include typi('h6');
        font-weight: normal;
    }
    @include element('price'){
        margin: 0;  
        color:$base-primary-color;
        //@include typi('h6');
        font-weight: 700;
    } 
    @include element('results'){
        margin: 0;  
        flex:1;
        //@include typi('h6');
        font-weight: 700;
    } 
    @include element('ordering'){
     
    } 
    @include element('variations'){
        display: none;
    }
    @include element('link-product'){
        margin: $grid-gutter 0;
        //padding-bottom: $grid-gutter;
        //font-weight: normal;
    }
    @include element('link-wrap'){
        position: relative;
        overflow: hidden;
        display: block;
        color:$base-text-color;
    }
    
}

/* Tags */
.sale-tag{

}
.sale-tag span{

}
