@include block('shop-categories'){
   
    @include element('list'){
        
       @include typi('small');
       @extend  %accordion;
       position: sticky;
       top: 0vh;
      // padding-top: 108px;

           
       @include media(mobile) {
        padding-top: 0px!important;
        // FUCK TKO PISE IMPORTANTE! - MIslave znam ti si
        // Marijang
       }
       input[type="checkbox"] + span:not(.lever) {
        @include typi('small');
        line-height: 1.8;
        font-family: $base-font-family-primary;

    
       }
    }
    @include element('item'){
        @include modifier('parent'){
            font-weight: 400;
            padding: $grid-gutter!important;
        }
        @include modifier('child'){
            font-weight: normal;
            margin-bottom: 4px;
        }

    }
    @include element('title'){
        @include typi('small');
    }
    @include element('label'){
        @include typi('small');
        display: flex;
        color: $base-black-color!important;
    }
    @include element('count'){
        @include typi('small');
        color: $base-black-color!important;
    }
    @include element('icon'){
        text-align: right;
        flex: 1;
        opacity: .4;
    }
    @include element('childs'){
        margin: $grid-gutter/2 0px;
        padding-top: $grid-gutter/2!important;
       
    }
}