.animated{
    &.shop-catalog__item{
        animation: .2s ease-in-out both fade-in-all;
    
       // opacity: 1;
       // transition: max-height .3s;  
        max-height: 400px;
        /*
        &::before1{
            animation: fade-out 1s 1;
            animation-fill-mode: forwards;
            z-index: 0;
            
        }
        */
    }
 
    
}


@include block('shop-catalog'){
    padding: $grid-gutter 0;
    display: flex;
    @include element('section'){
        margin-bottom: $base-content-padding*3;
        @include media('mobile'){
            margin-bottom: $base-content-padding;
            .section__image{
                display: none;
            }
        }
    }

    @include element('loader'){
        text-align: center;
        display: none;
        svg{
            width: 64px;
            height: 64px;
            display:inline-block;
          }
    }
    @include element('progress'){
        height: 2px;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background: $base-grey-color;
        border: none;
        color: $base-primary-color;
        display: block;
        margin: $base-content-padding/2 auto;
        width: 40%;
        &::-webkit-progress-bar{
            background: $base-grey-color;
        } 
        &::-webkit-progress-value {
            background: $base-primary-color;
        }
        &::-moz-progress-bar {
            background: $base-primary-color;
        }
    }
    @include media('mobile'){
        flex-direction: column;
    }

    @include element('filter'){
       flex:1;
       margin-right: $base-content-padding;
    }
    @include element('list'){
        padding: 0 $base-content-padding;
    }
    @include element('count-order'){
         display: flex;
         align-items: center;
         border-bottom: 1px solid $base-grey-color;
         padding-top: $base-content-padding/2;
         padding-bottom: $base-content-padding/2;
         padding-left:$base-content-padding;
         padding-right:$base-content-padding;
         @include media('mobile'){
            flex-direction: column;
        }
    }

    @include element('container'){
        flex:4;
        
    }
    @include e('onsale'){
        @extend %woocommerce-sale;
        position: absolute;
        //padding: $base-content-padding;
        right: $base-content-padding/2;
        top: $base-content-padding/2;
       

    }

    @include element('items'){
        width: 100%;
        @extend %list-reset;
        max-height: 2500px;
        overflow: hidden;
        transition: all 1.5s cubic-bezier(0.81, 0.15, 0.26, 0.99);
        @include media(desktop large){
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: $base-content-padding;
        }
    }

    @include element('item'){
       transition: all 1.5s cubic-bezier(0.81,0.15,0.26,0.99);
       display: block;
       overflow: hidden;
       position: relative;
       max-height: 0;
       &::before1{
           content: "";
           display: block;
           position: absolute;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           background: #cfcfdf;
           border-radius: 8px;
           z-index: 1001;
       }
     
       a{
           
       }
    }


    @include element('image'){
        overflow: hidden;
        img{
            transition: all 1s ease;
            width: 100%;
            height: 100%;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
            
        }
    
    }

    @include element('title'){
        margin: 0;
       // @include typi('h6');
        font-weight: normal;
        font-family: $base-font-family-primary;
    }
    @include element('price'){
        margin: 0;  
        color:$base-primary-color;
        font-family: $base-font-family-primary;
        //@include typi('h6');
        font-weight: 700;
    } 
    @include element('results'){
        margin: 0;  
        flex:1;
        @include typi('small');
        font-weight: 400;
    } 
    @include element('ordering'){
        margin: 0;  

        @include typi('small');
        font-weight: 400;
    } 
    

    @include element('results-wrap'){
        display: flex;
        flex-direction: column;
        margin: $base-content-padding;
        text-align: center;
        justify-content: center;
    } 

    @include element('ordering'){
     
    } 
    @include element('variations'){
        display: none;
    }
    @include element('link-product'){
        margin: $grid-gutter 0;
        //padding-bottom: $grid-gutter;
        //font-weight: normal;
    }
    @include element('link-wrap'){
        position: relative;
        overflow: hidden;
        display: block;
        color:$base-text-color;
    }

    @include element('pagination'){
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    @include element('num-of-items'){
        @include typi('small');
        margin: $base-content-padding 0;
      
    }
    @include element('btn-shop-more'){
        margin: 0 auto;
    }

    

    
    
}

/* Tags */
.sale-tag{

}
.sale-tag span{

}
