@include b('gallery'){
    @include container();
    margin-left: 0px!important;
    margin-right: 0px!important;
    display: flex;
  }

  .gallery-item{
      width: 100%;
      flex: 1;
      img{
        width: 100%;
    }
  }

.gallery-item:nth-child(1){
    width: calc(100% / 3 * 2);
    margin-right: 32px;
    flex:2;
    
}