$grid-gap-column: $base-content-padding*2;
$grid-gap-row: $base-content-padding*2.5;
$grid-gallery-space-bottom: $base-content-padding*6;
$grid-gallery-space-bottom-mobile: $base-content-padding*3;
$grid-icon-margin: $base-content-padding;
$grid-item-title-space-bottom: $base-content-padding;


@include b('grid2'){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $grid-gap-column;
    margin-bottom: $grid-gallery-space-bottom;

    @include media(mobile){
        grid-template-columns: 1fr;
        margin-bottom: $grid-gallery-space-bottom-mobile;
    }

    @include e('item'){
        @include media(mobile){
            padding: 0;
            display: flex;
            flex-direction: column;
        }
    }

    // @include e('img'){
    //     max-width: 100%;
    //     height: auto;
    // }

    @include e('caption'){
        min-height: 60%;
        max-height: calc(100% - 32px);
        width: 60%;

        @include media(mobile){
            width: 100%;
            max-height: 100%;
        }
    }

    @include e('icon-row'){
        display: flex;
        line-height: 2em;
    }

    @include e('icon'){
        margin-right: $grid-icon-margin;
        line-height: inherit!important;
    }

    @include e('icon-text'){
        line-height: inherit!important;
        margin-bottom: 0;
    }

    @include e('title'){
        @extend %heading-reset;

        margin-bottom: $grid-item-title-space-bottom;
    }

}


@include b('grid3'){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $grid-gap-column $grid-gap-row;
    margin-bottom: $grid-gallery-space-bottom/2;

    @include media(mobile){
        grid-template-columns: 1fr;
    }

    @include e('item'){
        padding: 0;
    }

    @include e('item-title'){
        @extend %heading-reset;
        margin-bottom: $grid-item-title-space-bottom;
    }

    @include e('icon-row'){
        display: flex;
        line-height: 2em;
    }

    @include e('icon'){
        margin-right: $grid-icon-margin;
        line-height: inherit!important;
        color: $base-primary-color;
    }

    @include e('icon-text'){
        line-height: inherit!important;
        margin-bottom: 0;
    }
}

// @include b('gallery'){
//   margin-left: -200px;
//   margin-right: -100px;
// }