@include b('grid2'){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    margin-bottom: 96px;

    // @include e('item'){
    //     padding: 0 32px 32px 0;
    //     position: relative;
    //     display: grid;
    // }

    // @include e('img'){
    //     max-width: 100%;
    //     height: auto;
    // }

    @include e('caption'){
        min-height: 60%;
        max-height: calc(100% - 32px);
        width: 60%;
    }

    @include e('icon-row'){
        display: flex;
        line-height: 34px;
    }

    @include e('icon'){
        margin-right: 16px;
        line-height: inherit!important;
    }

    @include e('icon-text'){
        line-height: inherit!important;
        margin-bottom: 0;
    }

    @include e('title'){
        //margin-bottom: 16px;
        margin-top: 0;

    }

}


@include b('grid3'){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px 40px;

    @include e('item'){
        padding: 0;
    }

    @include e('icon-row'){
        display: flex;
        line-height: 34px;
    }

    @include e('icon'){
        margin-right: 16px;
        line-height: inherit!important;
        color: $base-primary-color;
    }

    @include e('icon-text'){
        line-height: inherit!important;
        margin-bottom: 0;
    }
}

// @include b('gallery'){
//   margin-left: -200px;
//   margin-right: -100px;
// }