$header-height: 102px;
$search-grid-column-gap: $base-content-padding*2;
$search-grid-row-gap: $base-content-padding*3;

/* Layout for search container */
.search {
	position: relative;
	//text-align: center;
}

.search {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}


.search::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: rgba(0,0,0,0.3);
}

.search__inner {
	//position: absolute;
	width: 100vw;
    background: #f0f0f0;
    
}

.search__inner--up {
    height: 40%;
    //min-height: 200px;
    max-height: 1200px;
	color: $base-white-color;
    background: $primary-color;
    z-index: 1001;
    position: static;
     
    
    &.scrolled {
        height: 102px;
        position: fixed;
        min-height: 102px;
        max-height: 102px;
        @include media(mobile){
            height: 88px;
            position: fixed;
            min-height: 88px;

            .search__header {
                grid-template-areas: 
                            "search search search btn-close";
                            grid-template-rows: 46px;
            }

            .search__logo-link {
                display: none;
            }
        }

        .search__header {
            // grid-template-areas: 
            //             "log search search btn-close";
            //             grid-template-rows: 70px;
        }

        .search__inner--down {
            //position: absolute;
            //top: 102px;
            transform: translate(0,102px);
        }

        .search__info {
            display: none;
        }

        .search__form {
            //transform: translate(0,20%);
        }
    }
}

.search__inner--down {
    position: absolute;
    top: 40%;
    min-height: 60%;
	color: $base-text-color;
    background: $base-white-color;
    //transform: translate(0,40%);

    &.scrolled {
		top: 102px;
		min-height: calc(100% - 102px);
		padding-top: 102px;

		@include media(mobile){
			top: 88px;
			padding-top: 88px;
			min-height: calc(100% - 87px);
		}
    }
}

.btn--search-close {
	font-size: 2em;
	position: absolute;
	z-index: 100;
	top: 1.25em;
	right: 1.25em;
	display: none;
}

.btn--search-close {
	display: block;
}

.search__form {
	width: 100%;
	max-width: 769px;
    margin: 0 auto;
    transform: translate(0,35%);
    transition: transform .6s;
}

.search__form-wrapper {
    //transform: translate(0,100px);
    display: flex;
    justify-content: center;
    //align-items: center;
    //height: calc(100% - 102px);
    grid-area: search;
}

.search__input {
	font-family: inherit;
	font-size: 1.11111rem!important;
	@include typi(large);
	// line-height: 1;
	line-height: 1.5;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	padding: 0 0 0.1em 0!important;
	color: inherit;
	border-bottom: 1px solid $base-white-color!important;
}

.search__input::-webkit-input-placeholder {
	opacity: 0.7;
	/* WebKit, Blink, Edge */
	color: $base-white-color;
}

.search__input::-moz-placeholder {
	opacity: 0.7;
	/* Mozilla Firefox 19+ */
	color:  $base-white-color;
}

.search__input:-ms-input-placeholder {
	opacity: 0.7;
	/* Internet Explorer 10-11 */
	color:  $base-white-color;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear {
	display: none;
}

.search__info {
	font-size: 90%;
	font-weight: bold;
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0.85em 0;
    text-align: right;
    @include media(mobile){
		text-align: center;
		padding-bottom: 4px;
    }

}

.search__related {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $search-grid-column-gap;
    grid-row-gap: $search-grid-row-gap;
    @include media(mobile){
        grid-template-columns: 1fr;
    }
}

.search__empty {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    //margin-top: 100px;
}

.search__suggestion {
	// width: 50%;
	// padding: 0 1em 0 0;
	// text-align: left;
}

.search__suggestion:last-child {
	//padding: 0 0 0 1em;
}

.search__suggestion h3 {
	font-size: 1.35em;
	margin: 0;
}

.search__suggestion h3::before {
	content: '\21FE';
	display: inline-block;
	padding: 0 0.5em 0 0;
}

.search__suggestion p {
	font-size: 1.15em;
	line-height: 1.4;
	margin: 0.75em 0 0 0;
}

.search__header {
    @include container();
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 70px auto;
    padding: 16px 0;
    // grid-template-areas: "logo not not btn-close" 
    //                      "not search search not";
    grid-template-areas: 
                "log search search btn-close"
                ". search search .";
    height: 100%;

    @include media(mobile){
        grid-template-rows: 46px auto;
        grid-template-areas: 
                "log . . btn-close"
                "search search search search";
    }
}

.search__logo-link{
    grid-area: log;
    //grid-column: 1 / 2;
    display: flex;
    @include media(mobile){
        justify-content: center;
    }
}

.search__logo-img{
    height: 70px;
    width: 128px;

    @include media(mobile){
        height: 46px;
        width: 78px;
    }
}

.search-hide {
    display: none;

    @include media(mobile){
        //display: block;
    }
}

.search__btn-close{
    grid-area: btn-close;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    i {
        border: 1px solid $base-white-color;
        cursor: pointer;
    }
}

.search-show{
    overflow: hidden;
    position: fixed;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

/************************/
/* Transitions 			*/
/************************/

 .main-wrap {
	transition: transform 0.6s, opacity 0.6s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

 .main-wrap--hide {
	opacity: 0;
	transform: scale3d(0.8,0.8,1);
}

 .search {
    pointer-events: none;
   
}

 .search--open {
    pointer-events: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

 .search::before {
	opacity: 0;
	transition: opacity 0.6s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

 .search--open::before {
	opacity: 1;
}




/* Search button */
.btn--search {
	transition: opacity 0s;
}

.main-wrap--hide .btn--search {
	opacity: 0;
	transition-delay: 0s;
}

/* Close button */
.btn--search-close {
	opacity: 0;
	transform: scale3d(0.8, 0.8, 1);
	transition: opacity 0.6s, transform 0.6s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.search--open .btn--search-close {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

/* Halfs */
 .search__inner {
	transition: transform 0.6s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

 .search__inner--up {
	transform: translate3d(0,-100%,0);
}

 .search__inner--down {
	transform: translate3d(0,100%,0);
}

 .search--open .search__inner {
    //transform: translate3d(0,0,0);
    //transition: all .6s;
}

 .search__suggestion {
	transform: translate3d(0,150px,0);
	transition: transform 1s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.search--open .search__suggestion {
	transform: translate3d(0,0,0);
	transition-delay: 0.05s;
}

 .search--open .search__suggestion:last-child {
	transition-delay: 0.1s;
}

@media screen and (max-width: 40em) {
	.btn--search-close {
		font-size: 1.25em;
	}
	.search__suggestion {
		width: 100%;
	}
	.search__suggestion:last-child {
		display: none;
	}
}

.main-wrap {
	position: relative;

	width: 100%;
	min-height: 100vh;
}
.main-wrap1 {
	position: relative;
	display: flex;
	flex-direction: column;
	
	width: 100%;
	height: 100vh;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}





/* Deco lines */

.decolines {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
}

.decoline {
	position: absolute;
	width: 1px;
	height: 100%;
	background: #ddd;
}

.decoline:first-child {
	right: 88em;
}

.decoline:nth-child(2) {
	right: 68em;
}

.decoline:nth-child(3) {
	right: 48em;
}

.decoline:nth-child(4) {
	right: 28em;
}

.decoline:nth-child(5) {
	right: 8em;
}

.demo-9 { color: #2d3535; background-color: #597571; }
.demo-9 main { background-color: transparent; }
.demo-9 a, .demo-9 .btn { color: #22d2d2; }
.demo-9 .btn--search-close { 
    color: #dce6e6;
    border: 1px solid #fff;
    padding:8px;
    top: 3.25em;
    right: 3.25em;
}

