$footer-bg-color-primary:           $footer-bg-color-primary;
$footer-margin-top:                 $base-content-padding;
$footer-content-padding:            $base-content-padding*2 0;
$footer-link-color:                 $base-white-color;
$footer-link-hover-color:           $base-white-color;
$footer-content-media-style-color:  $base-white-color;

footer{
    background: $footer-bg-color-primary;
    font-weight: 400;
   // margin-top:  $footer-margin-top;
    font-size: 80%; 
    
}

@include block('footer-nav'){
    @extend %list-reset;
    @include e('item'){
       margin-bottom: $grid-gutter/2;
       @include media(mobile){
            margin-bottom: $base-content-padding;
       }
    }
    @include e('link'){
        color: $footer-link-color;
        &:hover{
            text-decoration: underline;
            color: $footer-link-color;
        }
    }
}

@include block('footer'){

    margin-top: $base-content-padding*2;
    @include media(mobile){
       margin-top: $base-content-padding;
    }
    @include e('content'){
        display: grid;
        grid-template-columns: 2fr 1fr auto auto;
        grid-row-gap: 24px;
        grid-column-gap: 32px;
        @include container();
        padding: $footer-content-padding;
        //align-items: center;
        @include media(mobile){
            text-align: center;
            grid-template-columns: 1fr;
        }  
        @include media(tablet){
            grid-row-gap: 8px;
        grid-column-gap: 8px;
        }  
    }
    @include e('content-media-style'){
        color: $footer-content-media-style-color;
        p{
            margin-right: $base-content-padding*4;
            margin-top: $base-content-padding;
            @include media(mobile){
                padding: $base-content-padding 0;
                margin-right: 0;
                margin-top: 0;

            }
        }
    }

    @include e('links'){
        min-height: 96px;
        @include media(mobile){
            //padding-top: $base-content-padding;
            min-height: inherit;
        }
    }
    @include e('logo'){
        margin: 0px;
        img{
            width: 20%;
        }
        
    }
    @include e('info'){
        background: $footer-bg-color-secondary;
        padding: $grid-gutter;
        color: $footer-text-color;
        small{
            @include container();
            display: block;
        }
        @include media(mobile tablet){
            text-align: center;
        }
        
   }
}