

footer{
    background: $footer-bg-color-primary;
    font-size: 85%;
    font-weight: 400;
    margin-top: $base-content-padding*4;
}

.footer__content{
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: repeat(2, 10fr 1fr 1fr);
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 16px;
    padding: $grid-gutter*3 0;
    @include container();
    p{
        margin-bottom: 0;
        margin-top: $grid-gutter;
        color: $footer-text-color;
    }
    p,a{
        font-size: 100%;
    }
}


@include block('footer-nav'){
    font-size: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    
    @include e('item'){
       margin-bottom: $grid-gutter/2;
    }
    @include e('link'){
        color: $footer-link-color;
    }
}

@include block('footer'){
    @include e('links'){
          padding-left: $grid-gutter*3;
    }
    @include e('logo'){
        margin: 0px;
        img{
            width: 20%;
        }
    }
    @include e('info'){
        background: $footer-bg-color-secondary;
        padding: $grid-gutter;
        color: $footer-text-color;
        small{
            @include container();
            display: block;
        }
        
   }
}