@include b('woocommerce-message'){
    @include container();
    padding: $base-content-padding;
    margin-bottom: $base-content-padding;
    //margin-top: $base-content-padding;
    text-align: center;
    @include typi(small);
    @include m('success'){
        background: $base-primary-color;
        color: $base-white-color;
        
        a{
            color: $base-white-color;
            font-weight: $base-font-weight-bold;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }

}