$hero-content-top:      $base-content-padding*5;
$hero-content-bottom:   auto;
$hero-content-left:     $base-content-padding*4;
$hero-content-right:    auto;
$hero-content-padding:  $base-content-padding;
// Slick Dots
$hero-content-dots-bottom: $base-content-padding;
$hero-content-dots-right:  $base-content-padding;
// Colors
$hero-content-dots-inactive-color: #3A4542;

$hero-transition-duration: .2s;
$hero-transition-duration-in: .9s;


.hero__item.animated{
    @include media(desktop large){
        .hero__description,
        .hero__link{
           opacity:1;
           visibility: visible;
           transition-duration: $hero-transition-duration-in;
        }
        .hero__bg{
            opacity: 1;
        }
        span.letter{
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }
}

@include block('hero') {
     
   @include e('slider-wrapper'){
      //  margin-top: $base-content-padding;
      min-height: 80vh;

      @include media(mobile) {
          min-height: 0px;
      }

      @include media(tablet) {
        min-height: 0px;
     }
     @include media(mobile, landscape) {
        min-height: 0px;
    }
   }
   @include e('slider-indicator'){
       position: absolute;
       display: none;
       @include media(desktop large){
           //skriveno zbog zahtjeva klijenta
           display: none;
           bottom: 132px;
           left: 50%;
           transform: translate(-50%);
        }
   }

   

    @include element('item'){
        position: relative;
        span.letter{
            display: inline-block;
            @include media(desktop large){
                transform: translate3d(0,100%,0);
                opacity: 0;
                transition: all $hero-transition-duration ease-out;
                position: relative;
            }
            
        }
        span.word{
            overflow: hidden;
            display: inline-block;
            overflow: hidden;
        }
       
    }
    @include element('bg'){
        min-height: 200px;
        opacity: 1;
        @extend %bg-image;
        background-size: contain;
        @include media(mobile tablet){
            background-size: cover;
            background-position: 100%;
        }

        @include media(mobile, landscape) {
            background-size: cover;
            background-position: 100%;
        }

        @include media(tablet){
        
            min-height: 350px;
            margin-right: -80px; // Usrane slike
        }
        @include media(mobile, landscape) {
            min-height: 350px;
            margin-right: -80px; // Usrane slike
            background-size: contain;
        }
        @include media(desktop large){
            opacity: 0;
            transition: $hero-transition-duration-in ease-in $hero-transition-duration;
            min-height: 560px;

        } 
    }
    @include element('slider-wrapper'){
        position: relative;


        div.slick-active{
           .hero__bg{
               // animation: kenburns-bottom 5s ease-out both;
               
           }
           .hero__content{
               
           }
          
        }
        .slick-dots li button{
            content: '';
            display: inline-block;
            background: #000!important;
            opacity: 0.2;
            width: 6px;
            height: 6px;
            border-radius: 0px;
            -webkit-transition: height 0.2s ease-in-out;
            transition: height 0.2s ease-in-out;
        }
        .slick-dots{
            display: flex!important;
            justify-content: center;
            min-height: 16px;
            align-items: flex-start;
            margin: 0;
        }
         .slick-dots li button:hover
        ,.slick-dots.slick-active li button{
        opacity: 1;
        height: 16px;
        background-color: #000!important;
        -webkit-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
        }
        // Slick
        .slick-dots1{
            position: absolute;
            bottom: $hero-content-dots-bottom;
            right:$hero-content-dots-right;
            width: auto;
            margin:0;
        }
        .slick-dots1 li button{
            background: $hero-content-dots-inactive-color;
            opacity: .2;
        }
         .slick-dots1 li button
        ,.slick-dots.slick-active li button{
            content: '';
           // color:transparent!important;
            //margin:0px;
            opacity: 1;
        }

    }
    @include element('title'){
        margin: 0;
        text-transform: uppercase;
        @include media(mobile){
            background-color: transparent;
            margin-top:16px;
        }
        @include media(tablet){
            background-color: transparent;
            margin-top:16px;
        }
        @include media(mobile, landscape) {
            background-color: transparent;
            margin-top:16px;
        }
    }
    @include element('description'){
        margin: 0;
        margin-bottom: $base-content-padding;
        transition: 0 ease-in $hero-transition-duration;
        padding: 16px 0;
        background: $base-primary-color;

        margin: 0 16px;
        color: #fff;
        opacity: .9;
        @include media(desktop large){
            opacity: 0;
            padding: 0px;
            background: none;
            visibility: hidden;
            color: #000;
            margin-bottom: $base-content-padding;
            padding: 16px 0;
        }
        @include media(mobile){
            background-color: transparent;
            color: $color-black;
            text-align: center;
            padding: 0px;
            margin: 0px;
         }
         @include media(tablet){
            background-color: transparent;
            color: $color-black;
            text-align: left;
            margin: 0px;
            padding: 0px;
         }
         @include media(mobile, landscape) {
            background-color: transparent;
            color: $color-black;
            text-align: left;
            margin: 0px;
            padding: 0px;
        }
    }
    @include element('link'){
        transition: $hero-transition-duration ease-in $hero-transition-duration;
        text-align: center;
        margin-top: $base-content-padding;
        @include media(desktop large){
            opacity: 0;
            margin-top: 0;
            text-align: left;
            visibility: hidden;
        }
        @include media(tablet){
            text-align: left;
            margin-left: 0px;
            
        }

        @include media(mobile, landscape) {
            text-align: left;
            margin-left: 0px;
        }
    }
    @include element('content'){
        z-index: 1;
        position: absolute;
        width: 100%;
        top:16px;
        left:0px;
        @include media(mobile){
            color:$color-black;
            position: initial;
            background-color: transparent;
            margin-top: 16px;
        }

        @include media(tablet){
            color:$color-black;
           // position: initial;
            background-color: transparent;
          //  margin-top: 16px;

            top:0;
            left:$hero-content-left;
            left:0;
            bottom:$hero-content-bottom;
            right:$hero-content-right;
            width: 48%;
            margin-top: 16px;
        }

        @include media(mobile, landscape) {
            color:$color-black;
           // position: initial;
            background-color: transparent;
          //  margin-top: 16px;
          position: absolute;
            top:0;
            left:$hero-content-left;
            left:0;
            bottom:$hero-content-bottom;
            right:$hero-content-right;
            width: 48%;
            margin-top: 16px;
        }
        
        @include media(desktop large){
            top:$hero-content-top;
            top: $base-content-padding;
            left:$hero-content-left;
            left:0;
            bottom:$hero-content-bottom;
            right:$hero-content-right;
            width: 42%;
        }

        h2{
            @include media(mobile){
                background-color: transparent;
            }
            @include media(tablet){
            
                background-color: transparent;
            }
            @include media(mobile, landscape) {
                background-color: transparent;
            }
           // @include typi(large);
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1;
            margin-bottom: 0px;
            text-align: center;
            margin: 0 16px;
            background: $base-primary-color;
            opacity: .9;
            padding: 8px 0 0;
            @include media(desktop large){
                @include typi(huge);
                line-height: 1.2;
                text-align: left;
                margin: 0;
                opacity: 1;
                padding: 0;
                background: none;
            }
            @include media(tablet){
                @include typi(huge);
                text-align: left;
                margin: 0;
            }
            @include media(mobile, landscape) {
                @include typi(huge);
                text-align: left;
                margin: 0;
            }
            @include media(mobile){
                @include typi(huge);
            }
        }
       // padding: $hero-content-padding;
        //width: 32%;
        em{
            font-weight: 300;
            font-style: italic;
            margin-bottom: $base-content-padding;
            display: block;
            @include media(desktop large){
                padding-top: 0px;
            }
        }
        p,div{
            //transform: translate3d(0,0,0);
            
            @include media(desktop large){
                //@include typi(small);
                font-size: 20px;
                margin: 0 0 8px;
                padding-top: 0px;
            }
            @include media(mobile tablet){
                //padding-bottom: 0px;
            }
            
            line-height: 1.45;
            font-weight: normal;
        }
     
       
        
        
    }
    @include element('image'){
        width: 100%;
      
    }

    
}

.scroll-indicator {
	width: 12px;
	margin: 0 auto;
	position: relative;
	opacity: .5;
	&::before,
	&::after {
		content: '';
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&::before {
		width: 12px;
		height: 12px;
		border-radius: 0px;
		border: 1px solid #000;
		animation: dot 3s infinite ease-in-out;
	}
	&::after {
		width: 7px;
		height: 7px;
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
		transform: rotate(45deg);
		animation: arrow 3s infinite ease-in-out;
		animation-delay: .75s;
		opacity: .25;
	}
	& > div {
		display: block;
		&::before,
		&::after {
			content: '';
			display: block;
			margin: 5px auto;
			border-radius: 0px;
			border: 1px solid #000;
			animation: dot 3s infinite ease-in-out;
		}
		&::before {
			width: 8px;
			height: 8px;
			animation-delay: .25s;
		}
		&::after {
			width: 6px;
			height: 6px;
			animation-delay: .5s;
		}
	}
}

@keyframes dot {
	0% {
		transform: scale(.75);
		opacity: .25;
	}
	25% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(.75);
		opacity: .25;
	}
}

@keyframes arrow {
	0% {
		transform: scale(.75) rotate(45deg);
		opacity: .25;
	}
	25% {
		transform: scale(1) rotate(45deg);
		opacity: 1;
	}
	100% {
		transform: scale(.75) rotate(45deg);
		opacity: .25;
	}
}


