$sastojci-content-top:      auto;
$sastojci-content-bottom:   0px;
$sastojci-content-left:     auto;
$sastojci-content-right:    0;
$sastojci-content-width:    484px;
$sastojci-content-color:    $base-white-color;

// Slick Dots
$hero-content-dots-bottom: $base-content-padding;
$hero-content-dots-right:  $base-content-padding;
// Colors
$hero-content-dots-inactive-color: #3A4542;

$sastojci-content-padding:    $base-content-padding*3;
$sastojci-content-bg-color:   $base-primary-color;
$sastojci-bg-margin:          0 64px 64px 0;
$sastojci-bg-height:          555px;
$sastojci-bg-height-small:          380px;

$sastojci-navigation-bottom:  48px;


$slick-font-path: "./fonts/" !default;
$slick-font-family: "Material Icons" !default;
$slick-loader-path: "./" !default;
$sastojci-slick-arrow-color:$base-white-color!default;
$slick-dot-color: black !default;
$slick-dot-color-active: transparent!default;
$slick-prev-character: "keyboard_arrow_left" !default;
$slick-next-character: "\E315" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 14px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;


@include block('animated'){
    .animate-bg{
        transition-delay: .0s!important;
        animation-delay: .0s!important;
    }
    .sastojci__content{
        opacity: 1;
        transition-delay: .9s;
        animation-delay: .9s;
       // animation-duration: 10s;
        //transition-delay: 10.3s;
        //animation-delay: 10.3s;
        z-index: 1;
        .animate-bg{
            background-color:black;
            
        }
        
    }
    .sastojci__bg{
        opacity: 1;
        transition-delay: .0s;
        animation-delay: .0s;
        overflow: hidden;
    }
  
}

@keyframes myMove {
    from { transform: scale(1.0,1.0); transform-origin: 50% 50%; }
    to { transform: scale(1.1,1.1); transform-origin: 50% 0%; }
}

@include block('sastojci'){
    @include element('item'){
        position: relative;
        vertical-align:top;

        &:hover {
            .sastojci__bg {
                transform: scale(1.03);
            }
        }
       
    }
    @include element('bg'){
        min-height: $sastojci-bg-height;
        @extend %bg-image;
        margin: $sastojci-bg-margin;
        position: relative;
        overflow: hidden;
        height: 100%;
        //width: 100%;
        background-repeat: no-repeat;
        background-position-y: 42%;
    

        @include media(ipad tablet){
            min-height: $sastojci-bg-height-small;
        }

        @include media(mobile){
           margin:0;
           //height: 272px;
           min-height: 280px;
        }
        @include media(desktop large){
            opacity: 0;
            transition: opacity .001s, transform .6s, all 0s;
            transition-delay: 0s;
            animation-delay: 0s;
            //transition: all 0s;
            //transition: opacity .001s;
        }
    }
    @include element('slider-wrapper'){
        position: relative;
        overflow: hidden;

        .slick-slider div.slick-active .sastojci__bg {
           // animation: myMove 8s 1 ease-in-out; 
        }

        // Slick
        .slick-dots{
            position: absolute;
            bottom: $hero-content-dots-bottom;
            right:$hero-content-dots-right;
            width: auto;
            margin:0;
        }
        .slick-dots li button{
            background: $hero-content-dots-inactive-color;
            opacity: .2;
        }
         .slick-dots li button
        ,.slick-dots.slick-active li button{
            content: '';
            color:transparent!important;
            margin:0px;
            opacity: 1;
        }

        /* Arrows */

        .slick-prev,
        .slick-next {
            z-index: 1;
            position: absolute;
            display: block;
            height: 48px;
            width: 48px;
            line-height: 48px;
            font-size: 48px;
            cursor: pointer;
            background: transparent;
            color: transparent;
            bottom: $sastojci-navigation-bottom;
            //transform: translate(0, -50%);
            padding: 0;
            border: none;
            outline: none;
            content: ""; 
           // text-indent: -9999px;
            content: "";            
            &:hover, &:focus {
                outline: none;
                background: transparent;
                color: transparent;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &.slick-disabled:before {
                opacity: $slick-opacity-not-active;
            }
            &:before {
                font-family: $slick-font-family;
                font-size: 48px;
                line-height: 1;
                color: $base-white-color!important;
                opacity: $slick-opacity-default;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        .slick-prev {
            right: 124px;
            [dir="rtl"] & {
                left: auto;
                right: -$base-content-padding*2;
            }
            &:before {
                content: $slick-prev-character;
                [dir="rtl"] & {
                    content: $slick-next-character;
                }
            }
            @include media(mobile){
                right: 56px;
                //top: auto;
                bottom: 16px;
                transform: translateX(0%);
               // margin-right: $base-content-padding;
            }
        }
        
        .slick-next {
            right: 48px;
            [dir="rtl"] & {
                left: -$base-content-padding*2;
                right: auto;
            }
            &:before {
                content: $slick-next-character;
                [dir="rtl"] & {
                    content: $slick-prev-character;
                }
            }
            @include media(mobile){
                
                right: 16px;
                top: auto;
                transform: translateX(0%);
                //margin-right: $base-content-padding;
            }
        }
        .slick-slide{
            @include media(mobile){
                margin:0px;
            }

        }

    }
    @include element('paging'){
        position: absolute;
        bottom: $sastojci-navigation-bottom;
        z-index: 1;
        color: $base-white-color;
        right: 92px;
        line-height: 48px;
       // font-size: 48px;
        li{
            display: none;
        }
        .slick-active{
            display: block;
            @include media(mobile){
                display: none;
             }
        }
        @include media(mobile){
           display: none;
        }
    }
    @include element('title'){
        margin: 0;
        text-transform: uppercase;
       
    }
    @include element('description'){
        margin: 0;
        font-style: italic;
        margin-bottom: $base-content-padding;
    }
    @include element('link'){
        margin-top:$base-content-padding;
    }
    @include element('content'){
        position: relative;
        overflow: hidden;
        background: $sastojci-content-bg-color;
        padding: $sastojci-content-padding;
        z-index: 1;
        position: absolute;
        color: $sastojci-content-color;
        top:$sastojci-content-top;
        left:$sastojci-content-left;
        bottom:$sastojci-content-bottom;
        right:$sastojci-content-right;
       // padding: $hero-content-padding;
        width: $sastojci-content-width;
        @include media(mobile){
            width: 100%;
            position: relative;
            padding: 16px;
            top:0;
            @include typi(default);
            min-height: 232px;
        }
        @include media(desktop large){
            opacity: 0;
            transition: opacity .001s;
            transition-delay: 0s;
            animation-delay: 0s;
            transition: all 0s;
            transition: opacity .001s;
            min-height: 320px;
        }
      
    }
    @include element('image'){
        width: 100%;
      
    }

    
}

