$border-grey-color: $base-border-color-dark;
$main-menu-mobile-bottom-spacing: $base-content-padding*2;



html.mobile-menu-is-open{
    margin-top: 0px!important;
    .main-wrap1,body{
        overflow:hidden!important;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        overflow: hidden;
        transform: translate3d(0, 0, 0);

        -webkit-touch-callout: none;
         user-select: none;
    }
}

@include b('header'){
    @include e('container'){
        z-index: 1200;
        
    }
    @include e('container-inner'){
        @include media(mobile) {
            grid-template-areas: "hamburger logo logo user-menu"
                                 "main-menu main-menu main-menu main-menu";
            grid-template-rows: auto;
            a {
                padding: 0;
            }
        }


        @include container();
        // grid-row: 1;
        // grid-column: 1 / 13;
        text-align: left;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: $base-content-padding 0;
        grid-template-areas: "logo main-menu main-menu user-menu";
            
    }
    @include e('hamb'){
        color: $base-text-color;
        grid-area: hamburger;
        display: none;
        .toggle{
            min-height: 20px;
            display: block;
            cursor: pointer;
            top: 50%;
            left: 50%;
         
        }
        span {
            display: block;
            background: #000;
            width: 24px;
            height: 2px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: .25s margin .25s, .25s transform;
            -moz-transition: .25s margin .25s, .25s transform;
            transition: .25s margin .25s, .25s transform;
          }
          span:nth-child(1) { margin-bottom: 6px; }
          span:nth-child(3) { margin-top: 6px; }
        &.is-active{
            color: $base-primary-color;
            span {
                -webkit-transition: .25s margin, .25s transform .25s;
                -moz-transition: .25s margin, .25s transform .25s;
                transition: .25s margin, .25s transform .25s;
              }
              span:nth-child(1) {
                margin-top: 6px;
                margin-bottom: -2px;
              }
              
              span:nth-child(1), span:nth-child(2) {
                transform: rotate(45deg);
              }
              
              span:nth-child(3) {
                margin-top: -2px;
                transform: rotate(135deg);
              }
        }
        @include media(mobile){
            display: flex;
            align-items: center;
        }
        //grid-column: 1 / 2;
    }

    @include e('logo-link'){
        grid-area: logo;
        //grid-column: 1 / 2;
        display: flex;
        @include media(mobile){
            justify-content: center;
        }
    }

    @include e('main-menu'){
        grid-area: main-menu;
        //grid-column: 2 / 4;
        display: flex;
        align-items: center;
        margin: 0 auto;
        ul {
            @include media(mobile){
                margin-bottom: $main-menu-mobile-bottom-spacing;
                width: 100%;
                //flex:1;
            }
            flex-direction: inherit;
            align-items: inherit;
        }

        @include media(mobile){
            @include container();
            display: none;
            flex-direction: column;
            margin: 0;
            position: absolute;
            top: 78px;
            align-items: flex-start;
            z-index: 1050;
            background: white;
            width: 100%;
            min-height: calc(100vh - 70px);
            background: rgba(255,255,255,0.97);
            padding-left:0px;
            padding-right:0px;
            position: fixed;
            li {
                padding: 8px 0;
                @include typi(bigger);
                font-weight: 600;
                
            }
            .main-navigation--primary{
                justify-content: inherit;
            }
            
            &.is-open{
                display: flex;
                
            }
            overflow: hidden;
        }

        .mobile-only{
            display: none;

            @include media(mobile){
                display: flex;
            }
        }
        
    }
    @include e('user-menu'){
        //grid-column: 4 /5;
        .desktop-only{
            @include media(mobile){
                display: none;
            }
        }
        grid-area: user-menu;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
       
    }

    @include e('mobile-user-menu'){
        //grid-column: 4 /5;
        width: 100%;
        flex-direction: inherit;
        align-items: inherit;
        @include media(mobile){
            flex:1;
            justify-content: space-evenly;
          
            display: flex;
            flex-direction: column;
        }

        a{
            width: 100%;
            padding: 16px 0!important;
        }
    }

    @include e('mobile-lang'){
        //grid-column: 4 /5;
        
        border-top: 1px solid $border-grey-color;
        border-bottom: 1px solid $border-grey-color;
    }


    @include e('logo-img'){
        height: 70px;
        width: 128px;
        @include media(tablet){
            height: 56px;
            width: auto;
        }

        @include media(mobile ){
            height: 46px;
            width: 78px;
        }
    }

    @include e('mobile-contact'){
        @include typi(default);
        @include media(mobile){
            //flex:1;
            margin-bottom: 60px;
            border-top: 2px solid #f1f1f1;
            padding-top: 16px;
            width: 100%;
        }
      
    }
    @include e('mobile-contact-phone'){
        display: none;
        @include typi(default);
        margin-bottom: 8px;
    }
    @include e('mobile-contact-mail'){
        @include typi(default);
        font-weight: 700;
        margin-bottom: 8px;
        
    }
    @include e('mobile-contact-social'){
        color:#000;
        .social-followus__link{
            border-color:$color-black;
            position: relative;
        }
        .social-followus__menu{
            justify-content: left;
        }
        ul{
            color: $color-black;
            margin-bottom: 8px;
            
        }

        svg {
            position: absolute;
            top: 0;
        }

    }
    @include e('mobile-contact-copyright'){
        color:#000;
        font-weight: 300;
        @include typi(small);

    }
    
    

}


