$border-grey-color: $base-border-color-dark;
$main-menu-mobile-bottom-spacing: $base-content-padding*2;


@include b('header'){
    @include e('container'){
        z-index: 1200;
        
    }
    @include e('container-inner'){
        @include media(mobile) {
            grid-template-areas: "hamburger logo logo user-menu"
                                 "main-menu main-menu main-menu main-menu";
            grid-template-rows: auto;
            a {
                padding: 0;
            }
        }


        @include container();
        // grid-row: 1;
        // grid-column: 1 / 13;
        text-align: left;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: $base-content-padding 0;
        grid-template-areas: "logo main-menu main-menu user-menu";
            
    }
    @include e('hamb'){
        color: $base-text-color;
        grid-area: hamburger;
        display: none;
        &.is-active{
            color: $base-primary-color;
        }
        @include media(mobile){
            display: flex;
            align-items: center;
        }
        //grid-column: 1 / 2;
    }

    @include e('logo-link'){
        grid-area: logo;
        //grid-column: 1 / 2;
        display: flex;
        @include media(mobile){
            justify-content: center;
        }
    }

    @include e('main-menu'){
        grid-area: main-menu;
        //grid-column: 2 / 4;
        display: flex;
        align-items: center;
        margin: 0 auto;
        ul {
            @include media(mobile){
                margin-bottom: $main-menu-mobile-bottom-spacing;
                width: 100%;
            }
            flex-direction: inherit;
            align-items: inherit;
        }

        @include media(mobile){
            @include container();
            display: none;
            flex-direction: column;
            margin: 0;
            position: absolute;
            top: 78px;
            align-items: flex-start;
            z-index: 1050;
            background: white;
            width: 100%;

            li {
                padding: 8px 0;
            }
            &.is-open{
                display: flex;
            }
        }

        .mobile-only{
            display: none;

            @include media(mobile){
                display: flex;
            }
        }
        
    }
    @include e('user-menu'){
        //grid-column: 4 /5;
        .desktop-only{
            @include media(mobile){
                display: none;
            }
        }
        grid-area: user-menu;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
    }

    @include e('mobile-user-menu'){
        //grid-column: 4 /5;
        width: 100%;
        flex-direction: inherit;
        align-items: inherit;

        a{
            width: 100%;
            padding: 16px 0!important;
        }
    }

    @include e('mobile-lang'){
        //grid-column: 4 /5;
        
        border-top: 1px solid $border-grey-color;
        border-bottom: 1px solid $border-grey-color;
    }


    @include e('logo-img'){
        height: 70px;
        width: 128px;

        @include media(mobile){
            height: 46px;
            width: 78px;
        }
    }

}


