@include b('account-menu') {
    
    background-color: $base-light-grey-color;
    @include media(mobile){ 
        padding-left: 8px;
        padding-right: 8px;
     }

    @include e('content') {
        max-width: $base-content-width;
        padding-top: 32px;
        padding-bottom: 32px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    @include e('left-part') {
        @include media(mobile){ 
           display: flex;
           flex-direction: column;
        }
        a {
            cursor: pointer;
            margin-right: 24px;
            @include media(mobile){ 
                margin-bottom: 8px;
             }
        }
    }

    @include e('right-part') {
        text-align: right;
    }
}