*,
*::after,
*::before {
  @include box-sizing(border-box);
}

html { // stylelint-disable-line selector-no-type
  //@include text-size(default);
  //font-size: 112.5%!important;
}

body { /* stylelint-disable-line selector-no-type */
  @include font-smoothing;
  font-family: $base-font-family;
  color: $base-text-color;
  background-color: $base-bg-color;
  letter-spacing: $base-font-primary-letter-spacing;
  position: relative;
  overflow-x: hidden;

  &.overflow-hidden {
    overflow: hidden;
  }
}

figure {
  margin: 0!important;
}


.main-content {
  min-height: calc(100vh - 243px);
  // Isto kao i za header logo 
  @include media(desktop large){
    padding-top: 112px;
  }

  @include media(tablet){
      padding-top: 88px;
  }

  @include media(mobile ){
    padding-top: 88px;
  }
}


