/* stylelint-disable */
// Vendors - node modules
@import '~normalize.css';
@import '~media-blender';
//@import '~slick-carousel/slick/slick.scss';
@import "~sass-bem/bem";
@import '~typi';

// Fucking Materialize
@import "vendor/materialize/materialize";

// Utils
@import 'utils/colors';
@import 'utils/shared-variables';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/keyframes';
@import 'utils/helpers';
@import 'utils/z-indexes';
@import 'utils/placeholders';




// Config
@import 'core';

//Icons
@import 'components/icons/icons';

// Typography
@import 'components/typography/typography';
@import 'components/typography/content-media-style';
@import 'components/typography/content-typography-style';
@import 'components/typography/content-about-us-style';

// Buttons
@import 'components/buttons/buttons';

//Forms
//@import 'components/forms/form';
//@import 'components/forms/checkbox';
//@import 'components/forms/radio';
@import 'components/forms/input';
@import 'components/forms/select-toggle';
@import 'components/forms/input-number';

// Header
@import 'components/header/wp-admin-bar';
@import 'components/header/header';
@import 'components/header/headroom';
//FOoter
@import 'components/footer/footer';

// Main navigation
@import 'components/navigation/main-navigation';
@import 'components/navigation/navigation_user';
//Article
@import 'components/article/article';
@import 'components/article/article-list';
// @import 'components/article/article-grid';
// @import 'components/article/article-empty';

//Listing
// @import 'components/listing/listing-list';
// @import 'components/listing/listing-grid';

//Sections
@import 'components/sections/sections';
@import 'components/sections/figure';
@import 'components/sections/ordered-list';

// Template parts
@import 'components/parts/cookies-notification';
@import 'components/parts/reading-progress';

// Single
@import 'components/single';

// Pages
// @import 'components/pages/';


//Gallery
@import 'components/gallery/gallery';

// Hero
@import 'components/hero/hero';

@import 'components/woocommerce/single_product';
@import 'woocommerce/shop_catalog';
@import 'woocommerce/shop_categories';
@import 'woocommerce/payments';
@import 'woocommerce/cart_checkout_navigation';
@import 'woocommerce/cart';
@import 'woocommerce/checkout';
@import 'woocommerce/login';


// Social
@import 'components/social/social-followus';

// Google maps pin
@import 'components/gmaps/gmaps_pin';

// VEndor
//@import 'vendor/slick-theme';
@import 'components/slick/slick';
@import 'components/slick/carousel';
@import 'components/slick/hero_slick';
@import 'components/others/featured_item';


.screen-reader-text {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    word-wrap: normal !important;
}



// contact page
@import 'components/contact/contact';

// prodajna mjesta page
@import 'components/gallery/grid';



.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	pointer-events: none;
	opacity: 0;
}