/* stylelint-disable */
// Vendors - node modules
@import '~normalize.css';
@import '~media-blender';
//@import '~slick-carousel/slick/slick.scss';
@import "~sass-bem/bem";
@import '~typi';

// Fucking Materialize
@import "vendor/materialize/materialize";

// Utils
@import 'utils/colors';
@import 'utils/shared-variables';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/keyframes';
@import 'utils/helpers';
@import 'utils/z-indexes';
@import 'utils/placeholders';




// Config
@import 'core';

//Icons
@import 'components/icons/icons';

// Typography
@import 'components/typography/typography';
@import 'components/typography/content-media-style';
@import 'components/typography/content-style';
@import 'components/typography/content-typography-style';
@import 'components/typography/content-about-us-style';

// Buttons
@import 'components/buttons/buttons';

//Forms
//@import 'components/forms/form';
//@import 'components/forms/checkbox';
//@import 'components/forms/radio';
@import 'components/forms/input';
@import 'components/forms/select-toggle';
@import 'components/forms/input-number';

// Header
@import 'components/header/wp-admin-bar';
@import 'components/header/header';
@import 'components/header/headroom';
//FOoter
@import 'components/footer/footer';

// Main navigation
@import 'components/navigation/main-navigation';
@import 'components/navigation/navigation_user';
//Article
@import 'components/article/article';
@import 'components/article/article-list';
@import 'components/article/article-grid';
@import 'components/article/article-single';
@import 'components/article/article-empty';

//Listing
// @import 'components/listing/listing-list';
// @import 'components/listing/listing-grid';

@import 'components/validation/validation';

@import 'components/scroll-to-top/scroll-to-top';

//Sections
@import 'components/sections/sections';
@import 'components/sections/figure';
@import 'components/sections/ordered-list';

//Newsletter
@import 'components/newsletter/newsletter';

// Template parts
@import 'components/parts/cookies-notification';
@import 'components/parts/reading-progress';

// Single
@import 'components/single';

// Pages
// @import 'components/pages/';

// Search
@import 'components/search/search';

// Mega menu
@import 'components/mega-menu/mega-menu';


//Gallery
@import 'components/gallery/gallery';

//Zoom
@import 'components/zoom/zoom';


// Hero
@import 'components/hero/hero';
@import 'components/hero/sastojci';

@import 'components/woocommerce/single_product';
@import 'components/woocommerce/related-products';
@import 'components/woocommerce/cart-empty';
@import 'components/woocommerce/messages';
@import 'woocommerce/shop_catalog';
@import 'woocommerce/shop_categories';
@import 'woocommerce/payments';
@import 'woocommerce/cart_checkout_navigation';
@import 'woocommerce/cart';
@import 'woocommerce/checkout';
@import 'woocommerce/login';


// Social
@import 'components/social/social-followus';

// Google maps pin
@import 'components/gmaps/gmaps_pin';

// VEndor
//@import 'vendor/slick-theme';
@import 'components/slick/slick';
@import 'components/slick/carousel';
@import 'components/slick/hero_slick';
@import 'components/others/featured_item-old';

@import 'woocommerce/billing_fields';


.screen-reader-text {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    word-wrap: normal !important;
}

// contact page
@import 'components/contact/contact';

// prodajna mjesta page
@import 'components/gallery/grid';

// GDPR Stuff
@import 'components/gdpr/gdpr';



.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	pointer-events: none;
	opacity: 0;
}

@keyframes filler {
    0% {
        transform: translateX(0) scaleY(1) scaleX(0)
    }

    50% {
        transform: translateX(0) scaleY(1) scaleX(1)
    }

    100% {
        transform: translateX(102%) scaleY(1) scaleX(1)
    }
}


.animated .animate-content {
    opacity: 1;
    transition-delay: .9s;
    animation-delay: .9s
}
.animate-content {
    opacity: 0;
    transition: opacity .001s;
    transition-delay: 0s;
    animation-delay: 0s;
}

.animated .animate-bg {
    will-change: width,transform;
    animation-name: filler;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.81,0.15,0.26,0.99);
    animation-fill-mode: forwards;
    animation-duration: 1.15s;
   // animation-duration: 10s;
    transition-delay: .3s;
    animation-delay: .3s
}

.animate-bg {
    z-index: 99;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $base-primary-color;
    overflow: hidden;
    transform: translateX(0) scaleY(1) scaleX(0);
    transform-origin: 0 0;
    //animation-fill-mode: backwards;
}






.loader__wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background: #fff;
    opacity: 1;
    z-index: 100001;
}

.loader__wrap.view .loader__bg {
    width: 100%
}

.loader__wrap.view .loader {
    opacity: 1
}

.loader__wrap.loader-hidden {
    opacity: 0;
    visibility: hidden;
    transition: .8s cubic-bezier(0.81,0.15,0.26,0.99) 1s
}

.loader__wrap.loader-hidden .loader__bg {
    width: 0;
    transition: 1.3s cubic-bezier(0.81,0.15,0.26,0.99) .6s
}

.loader__wrap.loader-hidden .loader {
  //  animation: roll-in-blurred-right .3s cubic-bezier(0.81,0.15,0.26,0.99) both;
   // opacity: 0;
    transition: .3s cubic-bezier(0.81,0.15,0.26,0.99) 0s
}

.loader__bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    z-index: 1;
    background: #000;
    transition: 1.3s cubic-bezier(0.81,0.15,0.26,0.99)
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    width: 120px;
    height: 66px;
    opacity: 0;
    transition: .3s cubic-bezier(0.81,0.15,0.26,0.99) 1s;
   // background:$base-primary-color;
   // padding:32px;
    backface-visibility: hidden;
    border-radius: 2px;
    //animation: roll-in-blurred-right 1.6s cubic-bezier(0.81,0.15,0.26,0.99)  both;
}

.loader-img {
   //  margin: 8px;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100%;
    background: url("../images/logo-white.svg") no-repeat;
    //-webkit-background-size: cover;
    background-size: cover;
   // -webkit-animation: sk-scaleout 3.15s infinite cubic-bezier(0.215,0.61,0.355,1);
    //animation: sk-scaleout 1.15s infinite cubic-bezier(0.215,0.61,0.355,1)
}

@keyframes roll-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) rotate(720deg);
              transform: translateX(1000px) rotate(720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

@keyframes sk-scaleout {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.48);
        opacity: 0
    }
}

.loader-open {
    overflow: hidden
}


.ct-ultimate-gdpr-cookie-buttons {
    @include media(mobile){
        display: flex;
        align-items: center;
    }
}


.woocommerce-additional-fields__field-wrapper {
    @include media(mobile){
        margin-top: -75px;
    }
}

.terms {
    @include media(mobile){
        margin-top: 50px!important;
    }
}

.woocommerce-error a {
    color:$base-black-color;
    font-weight: 700;
}

#login-section-close {
    position: relative;
    left: 100%;
    cursor: pointer;
}

.headroom--top {
    box-shadow: none!important;
}


.loader-spin {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }