@include b('featured-link'){
        position: relative;
        transition: transform 5s;
        transition: 100ms ease-out;
        transform-style: preserve-3d;
        display: block;
        color: inherit;
        height: 450px;
        width: 348px;
        user-select: none;
        outline:0;
        //z-index: 1;
        border: 1px solid $base-light-grey-color;
       // margin: $base-content-padding*2;
        overflow: hidden;
        @include parse(':hover', 'm:hover') {
            box-shadow: 0px 5px 31px -1px rgba(0, 0, 0, 0.15);
            transform: scale(1.04);
            @include at(':after'){
                opacity: 1;
            }
            @include parse('e:movable'){
                transform: translateY(-115px);
               // bottom:0;
            }
            @include parse('e:image'){
                transform: translateY(-58px) scale(0.5);
            }
            @include parse('e:button'){
                color: $base-primary-color;
            }
        }
    
        @include after{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            content: '';
            transition: opacity 100ms;
            opacity: 0;
            background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
        }

        @include element('image'){
            width: 100%;
            transition: transform 300ms;
           
         }
        @include element('description'){
            display: flex;
            flex-direction: column;
 
         }
         @include element('categories'){
           @extend %paragraph-reset;
           color: $base-text-muted-color;
           font-size:12px;
 
         }
        @include element('movable'){
            padding: $base-content-padding*2;
            border-top: 1px solid $base-light-grey-color;
            //position: absolute;
            position: relative;
          //  top: 0;
           // right: 0;
           // bottom: -134px;
           // left: 0;
           // bottom:0;
            transition: transform 300ms;
            text-align: left;
            background: $base-white-color;

           // height: 150px;
           transform: translateY(20px);
            
        }

      
        @include element('title-container'){
          flex: 1;

        }
        @include element('price'){
            color: $base-primary-color;
            font-size:22px;
            padding-top: $base-content-padding;
        }

        @include element('title'){
            @extend %heading-reset;
            font-size:22px;

        }

        @include e('options'){
            h5{
                @extend %heading-reset;
                padding-top: $base-content-padding;
                padding-bottom: $base-content-padding/2;
            }
            div{
                padding-bottom: $base-content-padding/4;
                font-size:14px;
            }
            span {
               // display: inline-block;
            }
            
        }

        
        @include e('option-name'){
           font-weight: bold;
        }
        @include e('option-price'){
            padding-left: $base-content-padding/4;
            &::before{
                content:' - ';
            }
        }

        @include e('onsale'){
            display: block;
            //border-radius:$base-content-padding;
            border: 1px solid $base-primary-color;
            color: $base-primary-color;
            font-weight: $base-font-weight-bold;
            position: absolute;
            padding: $base-content-padding;
            right: $base-content-padding/2;
            top: $base-content-padding/2;
           
            span{
    
            } 
            &::after{ 
               
            }
        }

        @include e('sale-regular-price'){
            color: $base-text-muted-color;
            font-weight: normal;
            text-decoration: line-through!important;
            &::after{
                content:' - ';
            }
        }
        @include e('regular-price'){
            //  display: inherit!important;
              text-decoration: line-through!important;
              font-weight: normal;
             
          }
          @include e('sale-price'){
              display: inline-block;
              padding-left: 8px;
              font-weight: $base-font-weight-bold;
              &::before{
                content:' - ';
              }
              
          }


        @include element('button'){
            @extend %link-transition;
            font-size:16px;
            display: block;
            padding-top: $base-content-padding;
           
        }
     

    

        
}





/*

.featured-item:hover {
    
}

.featured-item:hover .movable {
    transform: translateY(-10px);
}

.featured-item__movable {
    position: relative;
    transition: transform 300ms;
}



.featured-item::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    opacity: 0;
    border: 1px solid #E9E9E9;
    border-color: 200ms;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.featured-item:hover::after {
    opacity: 1;
}

*/