$article-top-spacing:     $base-content-padding*2;
$article-bottom-spacing:  $base-content-padding*3;
$article-content-color:   $base-white-color;
$article-content-padding: $base-content-padding*4;
$article-min-height:      500px;

@include block('article-list'){
    padding-bottom: $article-bottom-spacing;
    padding-top: $article-top-spacing;
  
    @include first(){
      padding-top:0; 
    }
    @include media(mobile){
        margin-top: $base-content-padding*2;
        margin-bottom: 0;
        padding: 0;
    }
    @include element('container'){
       // @include container();
        display: flex;
        position: relative;
        min-height:480px;
        @include media(mobile){
          flex-direction: column;
          min-height: auto;
        }
        @include m('odd'){
          @include media(mobile){
            flex-direction: column-reverse;
          }
        }
    }
    @include element('heading-link'){
       color: $base-black-color;
       &:hover{
            color: $base-primary-color;
       }
    }
    @include element('title'){
      a{
        &:hover{
      
        }
      }
    }
    @include element('content'){
      flex: 1;
      background: $article-content-color;
      padding: $article-content-padding;
      margin-top: 100px;
      box-shadow: 0 4px 18.9px 2.1px rgba(205,193,193,0.15);
      box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.08);
      min-height: $article-min-height;  
     
      @include media(mobile){
        margin-top: 0;
        padding: $base-content-padding;
        min-height: auto;
        
      }  
    }
    @include e('link'){
      margin-top: $base-content-padding;
      display: block;
      //color: $base-dark-color;
      position: relative;

      &:hover{
       color:$base-primary-color;
       &:before{
           transform: scale(1, 1); 
       }
      }

      &:before {
       content: "";
       position: absolute;
       left: -$base-content-padding;
       top: 11px;
       top: calc( 50% - 2px);
       width: 12px;
       background: currentColor;
       height: 2px;
       -webkit-transform-origin: left;
               transform-origin: left;
       -webkit-transition: all .2s ease-out;
       transition: all .2s ease-out;
       -webkit-transform: scale(0, 1);
       transform: scale(0, 1); 
       @include media(mobile){
           display: none;
       }
     }
   }
  
    @include element('image'){
      margin-bottom: $article-content-padding;
      flex: 1;
      min-height: $article-min-height;   
      img{
          width: 100%;
          vertical-align: middle;
          
      }
      @include media(mobile){
        margin-bottom:0;
        min-height: auto;
        img{
          height: 212px;
        }
      }  
    }
  }