$article-top-spacing:     0;
$article-bottom-spacing:  $base-content-padding*7;
$article-content-color:   $base-white-color;
$article-content-padding: $base-content-padding*4;
$article-min-height:      500px;

@include block('article-list'){
    margin-bottom: $article-bottom-spacing;
    margin-top: $article-top-spacing;
    @include first{
     // margin-top: $article-bottom-spacing;
    }
    @include element('container'){
        @include container();
        display: flex;
        position: relative;
        min-height:480px;
    }
    @include element('heading-link'){
       color: $base-black-color;
       &:hover{
            color: $base-primary-color;
       }
    }
    @include element('title'){
      a{
        &:hover{
      
        }
      }
    }
    @include element('content'){
      flex: 1;
      background: $article-content-color;
      padding: $article-content-padding;
      margin-top: 100px;
      box-shadow: 0 4px 18.9px 2.1px rgba(205,193,193,0.15);
      box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.08);
      min-height: $article-min-height;    
    }
  
    @include element('image'){
      margin-bottom: $article-content-padding;
      flex: 1;
      min-height: $article-min-height;   
      img{
          width: 100%;
          vertical-align: middle;
      }
    }
  }